:root {
  --max-width: 1440px;
  --min-width: 375px;
  --min-height: 100svh;

  color-scheme: dark;

  --color-black: #292E36;
  --color-dark: #343942;
  --color-gray: #797E89;
  --color-light-gray: #D7D7D7;
  --color-white: #F5F5F5;
  --color-light: #fff8f5;
  --color-blue: #C6EAF2;
  --color-salmon: #FF7D85;
  --color-gold: #E1B168;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0 0 1rem;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--color-white);
  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: var(--min-height);
  margin: 0 auto;
  padding: 0 1em;
  background-color: var(--color-black);
  text-wrap: pretty;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
button.reverseButton:hover,
button.reverseButton:focus-visible,
.phoneNumber {
  font-size: 1.375rem;
  margin: 0;
  padding: 0.5em 1em;
  color: var(--color-white);
  background-color: var(--color-dark);
  border: 2px solid var(--color-gold);
}

button:hover,
button:focus-visible,
button.reverseButton {
  font-size: 1.375rem;
  margin: 0;
  padding: 0.5em 1em;
  color: var(--color-black);
  border: 2px solid var(--color-gold);
  background-color: var(--color-gold);
}

h1,
h2,
h3,
h4,
h5,
h6,
q {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

h2,
.text__offer {
  font-size: 3rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 2rem;
}

h5 {
  font-size: 1.9rem;
  white-space: nowrap;
  line-height: 2rem;
}

h6 {
  font-size: 1.5rem;
}

h6.normal {
  font-weight: normal;
}

hr {
  width: 80%;
  margin: 1rem auto 0;
  border: 1px solid var(--color-gray);
}

img {
  width: 100%;
  height: auto;
  margin: 2rem auto;
}

img.small {
  width: 260px;
  margin: 0;
}

input {
  font-size: inherit;
  line-height: 2.8rem;
  width: 85%;
  margin-right: 1rem;
  padding-left: 0.7em;
}

label {
  margin-right: 1rem;
}

main {
  width: 100%;
  min-height: 100vh;
  margin: 2rem 0;
}

q {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2.5em;
}

.active {
  color: var(--color-gold);
}

.bg__sky {
  background-color: var(--color-blue);
}

.bg__light__gray {
  background-color: var(--color-light-gray);
}

.bg__dark {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.bg__light {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.bg__white {
  color: var(--color-dark);
  background-color: var(--color-white);
}

.border__top__gray {
  border-top: 1px solid var(--color-gray);
}

.border__bottom__gray {
  border-bottom: 1px solid var(--color-gray);
}

.border__tb__black {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4em 0.5em 0.2em;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.border__tb__gray {
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}

.border__tb__gold {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4em 0.5em 0.2em;
  border-top: 1px solid var(--color-gold);
  border-bottom: 1px solid var(--color-gold);
}

.border__left__gray {
  border-left: 1px solid var(--color-gray);
  padding-left: 2em;
  margin-left: 2rem;
}

.container__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 1rem auto 0;
  width: 100%;
}

.container__wrap div,
.container__wrap span {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
  width: 100%;
}

.container h6,
.container img {
  margin: 0;
}

.container__color__bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
  width: calc(100% - 8rem);
}

.container__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container__cards p,
.container__cards span,
.container__cards h5 {
  margin: 0;
}

.container__cards label {
  margin-bottom: 0;
}

.container__card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 33%;
}

.container__card__testimonial {
  margin: 2rem 0 0;
}

.container__card__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 2em;
  width: 50%;
}

.container__card__popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  width: 260px;
}

.container__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.container__quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  min-width: 300px;
  padding-right: 1em;
}

.container__quote__images {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

.column__content__horizontal__start {
  align-items: flex-start;
}

.column__content__horizontal__center {
  align-items: center;
}

.column__content__horizontal__end {
  align-items: flex-end;
}

.content__vertical__top {
  align-items: flex-start;
}

.content__horizontal__start {
  justify-content: flex-start;
  margin-left: 2rem;
}

.content-horizontal-carousel {
  padding-bottom: 1em;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-gold) var(--color-dark);
}

.content__horizontal__end {
  justify-content: flex-end;
}

.container__about img {
  width: 60%;
}

.container__social__icons img {
  margin-right: 1rem;
}

.content__badge__offer {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.content__badge__offer__images {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.content__45deg__offer {
  position: absolute;
  top: 2rem;
  left: 2rem;
  rotate: -30deg;
}

.content__45deg__offer p {
  margin: 0;
}

.content__service {
  text-align: center;
  min-height: 230px;
  padding: 1em 2em;
  background-color: var(--color-black);
  border: 1rem solid var(--color-dark);
}

.content__service p {
  margin: 0;
}

.content__footer p {
  text-align: center;
}

.img__dishcard {
  display: none;
}

.img__popularcard {
  margin: 0 auto;
}

.form__container {
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 4em;
  background-color: var(--color-black);
}

.form__content__mailing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto 0;
}

.form__content__mailing button.reverseButton {
  align-self: center;
  margin-bottom: 2rem;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 1rem 0;
  vertical-align: middle;
}

.icon__large {
  width: 3.5rem;
  height: auto;
  margin-right: 1rem;
}

.icon__service {
  width: 7rem;
  height: auto;
  padding: 1em;
}

.icon__large__round {
  width: 7rem;
  height: auto;
  margin: 1rem;
  border-radius: 50%;
}

.icon__quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: auto;
}

.icon__xl {
  width: 5.5rem;
  height: auto;
  margin: 1rem;
  border-radius: 50%;
}

.icon__xxl {
  width: 8rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.right {
  margin: 2rem 0;
}

.left,
.right__small {
  width: 35%;
}

.right__large {
  width: 65%;
}

.left__color__bg {
  width: 25%;
}

.left p {
  line-height: 2rem;
}

.left button {
  margin: 2rem 0;
}

.link {
  margin-right: 2rem;
}

.text__extended {
  letter-spacing: 0.2rem;
}

.text__horizontal__center {
  text-align: center;
}

.text__offer {
  font-weight: bold;
  line-height: 2.5rem;
}

.text__white {
  color: var(--color-white);
}

.text__salmon {
  color: var(--color-salmon);
}

.text__black {
  color: var(--color-black);
}

.text__underline {
  text-decoration: underline;
}

.text__uppercase {
  text-transform: uppercase;
}

.text__popular {
  padding-top: 1em;
}

@media(max-width: 1205px) {
  .container__offers {
    flex-wrap: wrap;
  }

  .container__card__offer {
    width: 100%;
  }
}

@media(max-width: 1460px) {
  input {
    width: 100%;
    margin-right: 0;
  }

  .content__form {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .content__form .column {
    margin: 0 auto;
    width: 60%;
  }

  .content__form .column label {
    margin: 0;
    padding-right: 1em;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .form {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .form button {
    margin: 0 2rem;
  }
}

@media(max-width: 1050px) {
  .container__wrap {
    justify-content: center;
    gap: 1rem;
  }

  .container__about {
    flex-wrap: wrap;
  }

  .container__about__josephine img {
    width: 45%;
  }

  .content__about {
    flex-wrap: wrap;
  }

  .content__about .border__left__gray {
    margin: 0;
    padding: 0;
    border: none;
  }

  .container__details {
    flex-wrap: wrap;
  }

  .container__card__details {
    width: 100%;
  }

  .content__popular {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__services {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__footer {
    flex-wrap: wrap;
  }

  .content__contact {
    width: 45%;
  }

  .form__content__mailing {
    width: 50%;
  }

  .content__mailing {
    order: 3;
  }

  .content__hours {
    width: 45%;
  }

  .left {
    text-align: center;
    width: 100%;
  }

  .right {
    width: 50%;
  }

  .right__small {
    width: 100%;
  }

  .right__small .column {
    align-items: center;
  }

  .right__large {
    width: 100%;
  }

  .left__color__bg {
    width: 100%;
  }

  .container__about img:not(.container__about__josephine img) {
    width: 100%;
  }
}

@media(max-width: 840px) {
  body {
    margin-top: 1rem;
  }

  .container__cards {
    flex-direction: column;
    justify-content: center;
  }
}

@media(max-width: 768px) {
  body {
    padding: 0 1em;
  }

  main {
    padding: 0 1em;
  }

  h5 {
    text-wrap: wrap;
  }

  .container__color__bg {
    text-align: center;
    width: calc(100% - 2rem);
  }

  .container__color__bg h6 {
    align-self: center;
  }

  .container__card__dishes {
    display: block;
    text-align: center;
  }

  .container__quote {
    display: block;
    margin: 0 auto;
  }

  .container__quote.content-horizontal-start {
    margin: 0;
  }

  .container__quote>.column>h6 {
    margin-top: 1rem;
  }

  .container__card__offer {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__services .left h6 {
    text-align: center;
    margin: 0 auto;
  }

  .content__form .column {
    width: 100%;
  }

  .text__extended {
    width: 100%;
  }

  .container__footer {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .container__footer .content__feed {
    display: flex;
    justify-content: center;
    width: 45%;
    order: 1;
  }

  .container__footer .logo {
    width: 340px;
    order: 3;
  }

  .container__footer .container__social__icons {
    display: flex;
    justify-content: center;
    width: 45%;
    order: 2;
  }

  .content__contact {
    align-items: center;
    width: 100%;
  }

  .form__content__mailing {
    width: 85%;
  }

  .content__mailing {
    order: 2;
  }

  .content__hours {
    align-items: center;
    width: 100%;
  }
}

@media(max-width: 460px) {
  .right {
    width: 100%;
  }

  .container__footer {
    margin: 1rem auto;
  }

  .container__footer .content__feed {
    order: 1;
  }

  .container__footer .logo {
    order: 2;
  }

  .container__footer .container__social__icons {
    order: 3;
  }
}

@media(max-width: 400px) {
  h1 {
    font-size: 3.5rem;
  }
}