:root {
  --max-width: 1440px;
  --min-width: 375px;
  --min-height: 100svh;

  color-scheme: dark;

  --color-black: #292e36;
  --color-dark: #343942;
  --color-gray: #797E89;
  --color-light-gray: #D7D7D7;
  --color-white: #F5F5F5;
  --color-light: #fff8f5;
  --color-blue: #C6EAF2;
  --color-blueish-gray: #A0AEAF;
  --color-salmon: #FF7D85;
  --color-gold: #E1B168;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--color-white);
  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: var(--min-height);
  margin: 0 auto;
  padding: 0 1em;
  background-color: var(--color-black);
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
}

a.button,
button {
  font-size: 1.375rem;
  margin: 2rem 0;
  padding: 0.5em 1em;
  border: 2px solid var(--color-gold);
}

a.button,
button.reverseButton:hover,
button.reverseButton:focus-visible,
.phoneNumber {
  font-size: 1.375rem;
  margin: 2rem 0;
  padding: 0.5em 1em;
  color: var(--color-white);
  background-color: var(--color-dark);
  border: 2px solid var(--color-gold);
}

a.button:hover,
a.button:focus-visible,
button.reverseButton {
  font-size: 1.375rem;
  margin: 2rem 0;
  padding: 0.5em 1em;
  color: var(--color-black);
  border: 2px solid var(--color-gold);
  background-color: var(--color-gold);
}

a.whiteButton {
  font-size: 1.375rem;
  margin: 2rem 0;
  padding: 0.5em 1em;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 2px solid var(--color-gold);
}

a.whiteButton:hover,
a.whiteButton:focus-visible {
  font-size: 1.375rem;
  margin: 2rem 0;
  padding: 0.5em 1em;
  color: var(--color-black);
  background-color: var(--color-gold);
  border: 2px solid var(--color-gold);
}

button.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  border-radius: 50%;
  color: var(--color-dark);
  background-color: var(--color-gold);
  box-shadow: 0 0 5px var(--color-gray);
  border: none;
  font-size: 2rem;
  font-weight: 700;
  z-index: 100;
}

footer .content__footer p {
  margin: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
q {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

h2,
.text__offer {
  font-size: 3rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0 0 1rem;
}

h5 {
  font-size: 1.9rem;
  white-space: nowrap;
  line-height: 2rem;
}

h6 {
  font-size: 1.5rem;
}

h6.normal {
  font-weight: normal;
}

header p.phoneNumber,
header .container__cart__icon {
  margin: 0 0 0.5rem;
}

header button.reverseButton {
  margin: 0;
}

hr {
  width: 80%;
  margin: 1.5rem auto 0;
  border: 1px solid var(--color-gray);
}

img {
  width: 100%;
  height: auto;
}

img.small {
  width: 170px;
  padding: 1rem;
}

img.medium {
  width: 240px;
  margin: 2rem;
}

input {
  font-size: inherit;
  line-height: 2.8rem;
  width: 85%;
  margin-right: 1rem;
  padding-left: 0.7em;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 1rem;
}

label {
  margin-right: 1rem;
}

main:not(:last-child) {
  width: 100%;
  min-height: 100vh;
}

ol {
  margin-left: 4rem;
}

ol>li {
  margin-bottom: 1rem;
}

p:not(p.container__links,
  p.container__social__icons,
  .container__card__dishes p,
  .content__45deg__offer p,
  .container__card__post__guide p) {
  margin: 0 0 1rem;
}

q {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2em;
  min-width: 600px;
}

blockquote {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 0 auto 2rem;
}

.aboutImg {
  position: relative;
  z-index: 1;
}

.aboutIcon {
  position: absolute;
  top: 0;
  right: -1.5rem;
  width: 188px;
  height: auto;
  z-index: 0;
}

.active {
  color: var(--color-gold);
}

.bg__sky {
  background-color: var(--color-blue);
}

.bg__light__gray {
  background-color: var(--color-light-gray);
}

.bg__dark {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.bg__light {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.bg__white {
  color: var(--color-dark);
  background-color: var(--color-white);
}

.border__top__gray {
  border-top: 1px solid var(--color-gray);
}

.border__bottom__gray {
  border-bottom: 1px solid var(--color-gray);
}

.border__tb__black {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4em 0.5em 0.2em;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.border__tb__gray {
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}

.border__tb__gold {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 2rem;
  padding: 0.4em 0.5em 0.2em;
  border-top: 1px solid var(--color-gold);
  border-bottom: 1px solid var(--color-gold);
}

.border__tb__gold-h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
  padding: 0.2em 0.5em 0.2em;
  border-top: 1px solid var(--color-gold);
  border-bottom: 1px solid var(--color-gold);
}

.border__left__gray {
  border-left: 1px solid var(--color-gray);
  padding-left: 1em;
  margin-left: 1rem;
}

.container__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.container__color__bg__hero {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 6rem 2rem 2rem;
  width: calc(100% - 4rem);
}

.container__color__bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 6rem auto;
  width: calc(100% - 8rem);
}

.container-sub__color__bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  width: calc(100% - 8rem);
}

.container__details {
  margin-bottom: 2rem;
}

.container__detailList {
  position: relative;
}

.container__detailList .heroImg {
  position: absolute;
  top: -25rem;
  right: 0;
  width: 460px;
  height: auto;
  margin-right: 2rem;
}

.container__offers {
  margin: 2rem 0 0;
}

.container__cards:not(.container__stars, .container__chefs) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container__cards h5,
.container__cards p {
  margin: 0;
}

.container__cards:not(.container__chefs) p {
  text-align: start;
}

.container__card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
}

.container__todayMenu {
  margin-top: 0;
}

.container__card__testimonial {
  margin: 2rem 0 0.5rem 2rem;
}

.container__card__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  width: 50%;
  min-height: 466px;
}

.container__home__menu {
  margin-top: 0;
}

.container__card__popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 260px;
}

.container__card__josefine {
  position: absolute;
  bottom: -4rem;
  left: -50%;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  width: 85%;
  background-color: var(--color-white);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.container__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container__quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  min-width: 300px;
  padding-right: 1em;
}

.container__quote>.column>p {
  margin: 0;
}

.container__quote__images {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.container__quote__text {
  margin-left: 1rem;
}

.container__form {
  position: relative;
}

.container__social__icons img {
  margin-right: 1rem;
}

.container__aboutus {
  padding: 4rem 0;
}

.container__about img {
  padding: 1rem 0 0 1rem;
}

.container__aboutImg {
  position: relative;
  width: 40%;
  margin: 2rem;
}

.container__stars {
  width: 30%;
  background-color: var(--color-white);
  margin: 0.5rem 0 0;
}

.container__stars img {
  width: 1rem;
  height: auto;
}

.container__aboutProducts {
  background: url('/images/aboutus-bg.png');
  background-position: center;
  width: calc(100% + 8rem);
}

.container__aboutProducts .column,
.container__card__aboutProducts .column {
  width: unset;
}

.container__card__aboutProducts:not(:last-child) {
  border-right: 1px solid var(--color-light-gray);
}

.container__card__aboutProducts {
  margin: 2rem 0;
}

.container__card__product {
  color: var(--color-white);
}

.container__card__product img {
  margin: 2rem 0 1rem;
}

.container__cards .container__card__product p {
  text-align: center;
  margin-top: 1rem;
}

.container__card__product .icon__large {
  margin-right: 1rem;
}

.container__chefs__section {
  margin-top: -6rem;
  padding: 6rem 2rem;
}

.container__chefs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.container__chefs .column {
  width: unset;
  margin: 0 auto;
}

.container__card__chefs {
  width: 260px;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.container__card__chef {
  width: 260px;
  height: auto;
  margin: 0 0 2rem;
}

.container__card__chef img {
  background-color: var(--color-blueish-gray);
}

.container__card__chef__single {
  margin-right: 2rem;
}

.container__icon__quote__large {
  margin: 2rem auto 1rem;
}

.container__footer .logo img {
  padding-left: 7rem;
}

.container__menu__section {
  color: var(--color-black);
  margin-top: -10rem;
  padding: 4rem;
  background-color: var(--color-white);
}

.container__menu>.container__color__bg:not(:first-child) {
  background-color: var(--color-white);
}

.container__card__menu:not(:first-of-type) {
  margin-top: -8rem;
}

.container__card__social__icons {
  padding: 1rem;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.column:not(:last-child) {
  margin-bottom: 2rem;
}

.col__h__start {
  align-items: flex-start;
}

.column__row-h-end {
  align-items: flex-end;
}

.row__v__top {
  align-items: flex-start;
}

.row__h__start {
  justify-content: flex-start;
  margin-left: 2rem;
}

.content__history {
  margin-bottom: 2rem;
}

.content__horizontal__carousel {
  margin: 4rem auto 0;
  padding-bottom: 1em;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: var(--color-gold) var(--color-dark);
}

.container__card__testimonial__large {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  min-height: 650px;
}

.container__card__testimonial__large q {
  text-align: center;
}

.container__card__testimonial__large div {
  scroll-snap-stop: always;
  scroll-snap-align: center;
}

.row-h-end {
  justify-content: flex-end;
}

.content__badge__offer {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.content__badge__offer__images {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.content__45deg__offer {
  position: absolute;
  top: 2rem;
  left: 2rem;
  rotate: -30deg;
}

.content__45deg__offer p {
  margin: 0;
}

.content__service {
  text-align: center;
  min-height: 280px;
  margin-top: 2rem;
  padding: 1em 2em;
  background-color: var(--color-black);
  border: 1rem solid var(--color-dark);
}

.content__footer p {
  text-align: center;
}

.content__beverages__img {
  width: auto;
  height: 450px;
  overflow: hidden;
}

.content__chef__single {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 1rem;
}

.content__chef__single>* {
  flex: 1;
}

.content__background__chef__single {
  height: 500px;
  width: 100%;
  margin: -400px auto 0;
}

.content__gallery__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.container__gallery {
  padding-bottom: 0.25rem;
}

.content__gallery {
  max-width: 60%;
  padding-top: 6rem;
}

.content__gallery__image__bottom {
  color: var(--color-white);
  align-items: center;
  background-image: url('/images/gallery-bottom.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 4rem;
}

.content__gallery__image__bottom>* {
  background-color: rgba(41, 46, 54, 0.5);
  padding: 1rem;
}

.content__gallery__image__bottom .button {
  margin-bottom: 0;
}

.container__recipes:not(:last-of-type) hr.hr__color__gold {
  border: 7px double var(--color-gold);
  margin: 0 auto 3rem;
}

.container__recipes:last-of-type hr {
  display: none;
}

.container__recipes__details {
  align-items: flex-start;
  margin-bottom: 2rem;
}

.content__recipe {
  margin-top: 2rem;
}

.container__blog__introduction p {
  text-align: center;
  padding-top: 2rem;
}

.container__blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.container__card__blog {
  max-width: 500px;
  border: 1px solid var(--color-gold);
}

.container__blog__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.container__blog__details .whiteButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.container__blog__details .whiteButton:hover,
.container__blog__details .whiteButton:focus-visible {
  margin: 0;
}

.container__card__post__guide {
  font-size: 2rem;
  line-height: 2.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 2rem;
  padding: 2rem 4rem;
  background-color: var(--color-light);
}

.container__card__post__guide p {
  text-align: center;
  margin: 0;
}

.container__card__post__single {
  margin: 2rem auto;
  width: 50%;
}

.container__contact {
  margin: 2rem;
}

.container__card__order {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.img__popularcard {
  width: 100%;
  margin: 0 auto;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 2em;
  background-color: var(--color-black);
}

.form__content__mailing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto 0;
}

.form__content__mailing button.reverseButton {
  align-self: center;
  margin-bottom: 2rem;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 1rem 0;
  vertical-align: middle;
}

.icon__large {
  width: 3.5rem;
  height: auto;
}

.icon__large.dotted__line {
  margin-right: 1rem;
}

.icon__service {
  width: 7rem;
  height: auto;
  padding: 1em;
}

.icon__quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: auto;
}

.icon__quote__large {
  width: 3.5rem;
  height: auto;
}

.icon__gallery__link {
  position: relative;
  height: 234px;
  width: 234px;
}

.icon__gallery {
  height: 234px;
  width: 234px;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: rgba(41, 46, 54, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.recipe__overlay {
  top: -220px;
}

.icon__gallery__link:hover .overlay {
  opacity: 1;
}

.icon__xl {
  width: 5.5rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.icon__xxl {
  width: 8rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.icon__small__round {
  width: 4rem;
  height: auto;
  margin: 1rem;
  border-radius: 50%;
}

.icon__large__round {
  width: 7rem;
  height: auto;
  border-radius: 50%;
}

.left__25 {
  width: 25%;
}

.left__35 {
  width: 35%;
}

.right {
  margin: 2rem 0;
}

.right__35 {
  width: 35%;
}

.right__50 {
  width: 50%;
}

.left__25 p {
  line-height: 2rem;
}

.left__25 button {
  margin: 2rem 0;
}

.left__50 {
  width: 50%;
}

.left__60 {
  width: 60%;
}

.left__65 {
  width: 65%;
}

.right__40 {
  width: 40%;
}

.right__65 {
  width: 65%;
}

.right__65>*:not(:last-child) {
  margin-bottom: 2rem;
}

.link {
  margin-right: 2rem;
}

.logo img {
  margin: 2rem 0;
}

.text__extended {
  letter-spacing: 0.2rem;
}

.text__horizontal__center {
  text-align: center;
}

.text__offer {
  font-weight: bold;
  line-height: 2.5rem;
}

.text__white {
  color: var(--color-white);
}

.text__salmon {
  color: var(--color-salmon);
}

.text__black {
  color: var(--color-black);
}

.text__underline {
  text-decoration: underline;
}

.text__uppercase {
  text-transform: uppercase;
}

.text__popular {
  padding-top: 1em;
}

.content__menu__section__img {
  max-height: 430px;
  width: auto;
  margin: 0 -4rem;
  overflow: hidden;
}

@media(prefers-reduced-motion) {

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media(max-width: 1460px) {
  input {
    width: 100%;
    margin-right: 0;
  }

  .container__color__bg {
    width: calc(100% - 4rem);
  }

  .content__form {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .content__form .column {
    margin: 0 auto 2rem;
    width: 60%;
  }

  .content__form .column label {
    margin: 0;
    padding: 0;
  }

  .container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .container__form img {
    display: none;
  }

  .form {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    width: 100%;
    margin: 2rem 0 0;
    padding: 0;
    background-color: transparent;
  }

  .container__aboutProducts {
    width: calc(100% + 4rem);
  }

  .content__menu__section__img {
    margin: 0 -2rem;
  }
}

@media(max-width: 1330px) {
  .container__aboutProducts {
    flex-wrap: wrap;
    background-size: cover;
    margin: 2rem 0;
    padding: 1.5rem;
    height: 100%;
  }

  .container__card__aboutProducts {
    margin: 0;
  }

  .container__card__aboutProducts:not(:last-child) {
    border-right: none;
  }

  .container__cards:not(.container__stars).container__aboutProducts {
    gap: 2rem;
    margin: 0;
  }

  .container__chefs {
    flex-wrap: wrap;
  }

  .container__blog {
    grid-template-columns: 1fr;
  }

  .container__card__blog {
    border: none;
  }
}

@media(max-width: 1205px) {
  .container__offers {
    flex-wrap: wrap;
  }

  .container__card__offer {
    width: 100%;
  }

  .container__chef__single {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media(max-width: 1140px) {
  .container__cards:not(.container__stars).container__aboutProducts {
    justify-content: center;
  }

  .container__card__aboutProducts:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
  }

  .container__aboutProducts {
    width: calc(100% + 2rem);
  }

  .container__aboutProducts .icon__large {

    margin-top: 0;
  }

  .container__aboutus {
    flex-direction: column;
  }

  .left__50 {
    width: 100%;
  }

  .container__card__josefine {
    position: relative;
    width: 100%;
    bottom: unset;
    left: unset;
    margin-bottom: 2rem;
  }

  .container__stars {
    width: 40%;
  }

  .container__chefs {
    flex-wrap: wrap;
    align-items: center;
  }
}

@media(max-width: 1065px) {
  .container__links {
    margin: 1rem auto;
  }

  header .container__social__icons,
  header .container__social__icons img {
    display: none;
  }

  .container__card__aboutProducts {
    margin: 0;
  }

  .container__menu__section {
    margin-top: -8rem;
  }
}

@media(max-width: 1050px) {
  .container__dishes {
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .content__footer:last-of-type {
    margin: 0;
    gap: 0;
  }

  .container__color__bg__hero .column {
    align-items: center;
  }

  .left__35,
  .left__60,
  .right__40 {
    width: calc(100% - 4rem);
  }

  .container__detailList {
    justify-content: center;
    margin-top: 445px;
  }

  .container__detailList .heroImg {
    position: relative;
    margin-right: -4rem;
  }

  .container__detailList__article {
    margin-top: -445px;
  }

  .container-sub__color__bg {
    margin: 1rem;
    width: calc(100% - 2rem);
  }

  .container__history__josefine {
    width: 45%;
  }

  .container__history {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }

  .col__h__start label,
  .content__contact {
    align-items: flex-start;
  }

  .container__history .border__left__gray {
    margin: 0;
    padding: 0;
    border: none;
  }

  .container__details {
    flex-wrap: wrap;
  }

  .container__card__details {
    width: 100%;
  }

  .content__popular {
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
  }

  .content__services {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__footer {
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
  }

  .content__contact {
    width: 45%;
  }

  .form__content__mailing {
    width: 50%;
  }

  .content__mailing {
    order: 3;
  }

  .content__hours {
    width: 45%;
  }

  .left__25 {
    width: 100%;
  }

  .right {
    width: 50%;
  }

  .right__35 {
    width: 80%;
  }

  .right__35 .column {
    align-items: center;
  }

  .right__65 {
    width: 100%;
  }

  .container__history img:not(.container__history__josefine img) {
    width: 100%;
  }

  .content__history {
    flex-wrap: wrap;
    width: 100%;
  }

  .content__beverages__img,
  .content__beverages__img img,
  .content__starters__img,
  .content__starters__img img {
    display: none;
  }
}

@media(max-width: 930px) {
  .container__footer {
    flex-direction: column;
    margin: 2rem auto;
  }

  .container__footer .logo img {
    padding-left: 0;
  }

  .container__recipes__details {
    flex-direction: column;
  }
}

@media(max-width: 840px) {
  body {
    margin-top: 2rem;
  }

  .container__about {
    flex-direction: column;
    align-items: center;
  }

  .container__about h4,
  .container__about p {
    text-align: center;
  }

  .container__menu__section {
    margin-top: 0;
    padding: 0;
  }

  .container__card__menu {
    width: 100%;
    margin-top: 2rem;
  }

  .content__chef__single {
    flex-direction: column;
  }

  .container__gallery .container__color__bg .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container__gallery .container__color__bg .container:nth-of-type(1) {
    margin-bottom: 2rem;
  }

  .container__gallery .container__color__bg .container:nth-of-type(2) .left__35 {
    order: 1;
  }

  .left__35,
  .right__35 {
    width: 100%;
  }
}

@media(max-width: 820px) {
  .container__wrap {
    justify-content: center;
  }

  .container__wrap:nth-of-type(2) {
    gap: 2rem;
  }

  header .container__cart__icon {
    margin: 0 auto 2rem;
  }
}

@media(max-width: 768px) {
  body {
    padding: 0 1em;
  }

  main {
    margin: 1rem 0;
  }

  h5 {
    text-wrap: wrap;
  }

  hr {
    margin: 0;
  }

  ol {
    margin-left: 2rem;
  }

  q {
    min-width: 300px;
    height: 345px;
  }

  .container__color__bg__hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .container__color__bg {
    width: calc(100% - 2rem);
  }

  .container__color__bg h4,
  .container__color__bg h6 {
    text-align: center;
  }

  .container__cards {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .container__cards:not(.container__chefs, .container__details) p {
    text-align: center;
  }

  .container__cards .icon__xl {
    margin: 0 auto;
  }

  .container__card__dishes {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  .container__card__testimonial {
    margin: 2rem;
  }

  .container__quote {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container__quote.content-horizontal-start {
    margin: 0;
  }

  .container__quote>.column>h6 {
    margin-top: 1rem;
  }

  .container__quote__text.col__h__start p {
    align-self: center;
  }

  .container__card__offer {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__services .left__25 h6 {
    text-align: center;
    margin: 0 auto;
  }

  .content__form .column {
    width: 100%;
  }

  .text__extended {
    width: 100%;
  }

  .container__footer {
    flex-wrap: wrap;
    gap: 0;
  }

  .container__footer .content__feed {
    order: 1;
  }

  .container__footer .logo {
    order: 3;
  }

  .container__footer .container__social__icons {
    display: flex;
    justify-content: center;
    order: 2;
  }

  .content__contact {
    align-items: center;
    width: 100%;
  }

  .content__gallery__image__bottom {
    padding: 2rem;
  }

  .left__60 {
    width: calc(100% - 2rem);
  }

  .left__35 {
    width: 100%;
  }

  .form__content__mailing {
    width: 100%;
  }

  .form__content__mailing input {
    width: 100%;
    margin-right: 0;
  }

  .content__mailing {
    order: 2;
  }

  .content__hours {
    align-items: center;
    width: 100%;
  }

  .img__dishcard {
    display: none;
  }

  .container__aboutImg {
    width: 80%;
  }

  .container__stars {
    width: 100%;
  }

  .content__menu__section__img {
    margin: 0 -1rem;
  }

  .container__cards>.container__card__chef p {
    text-align: center;
  }

  .content__josefine.col__h__start p {
    align-items: center;
  }

  .content__gallery__image__bottom {
    background-position: left;
  }

  .container__card__post__guide {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 2rem;
  }
}

@media(max-width: 460px) {

  .right {
    width: 100%;
  }

  .container__footer {
    margin: 1rem auto;
  }

  .container__footer .content__feed {
    order: 1;
  }

  .container__footer .logo {
    order: 2;
  }

  .container__footer .container__social__icons {
    order: 3;
  }
}

@media(max-width: 400px) {
  h1 {
    font-size: 3.5rem;
  }

  .content__chef__single {
    padding: 0;
  }

  .container__card__social__icons {
    padding: 1rem 0;
  }

  .container__card__post__guide {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem 1rem;
  }
}